<style>
    p {
        margin-bottom: 0.7em;
    }

    .title-top-line-right-angle {
        border-top-width: 0.15em;
        border-top-style: solid;
        padding-top: 0.1rem;
    }

    .first-char-large::first-letter {
        font-size: 1.5em;
        letter-spacing: 0.1em;
    }

    .first-line-height-small::first-line {
        line-height: 1.5em;
    }

    .title-top-line {
        border-top-width: 0.15em;
        border-top-style: solid;
        padding-top: 0.1rem;
    }
</style>

<%

function cell1(s, data) {
%>
<div>cell1####</div>
<%
}
/*
hm(`
a
b
c

#p
ddsdf	sdfsdf	
asfas
afas fsaf saf

#t0	a
文章主标题标题

#t0	b
文章绿标题

#t0	c
文章红标题

#t1	a
主标题标题

#t1	b
小绿标题

#t1	c
小红标题

#t2	a
主标题标题

#t2	b
小绿标题

#t2	c
小红标题

#t3	a
主标题标题

#t3	b
小绿标题');

#t3	c
', '小红标题');

#grid b cell1
a	b	c
d	e	f
e	f	g
a	b	c
d	e	f
e	f	g

#p	a
存在于样品和溶剂中的杂质不仅容易对色谱仪器装置（如液相泵、进样阀、色谱柱等）造成损坏或堵塞，而且会对分析结果造成干扰。因此，在样品上机检测前对样品进行过滤显得尤为重要，并可以有效降低上述问题的发生，提高色谱检测的灵敏度和准确度。
产品用其它仪器分析没有问题，但是核磁谱图太粗糙，无法解析，无法投稿？
知道不能用简单的经济型核磁管，但是特殊核磁管那么多，又都那么贵，怎么选？

#-	a

#ulul a
l1
	l1-1
	l1-2
l2
	l2-1
	l2-2
l33---33
	dd
	b

#p	b
存在于样品和溶剂中的杂质不仅容易对色谱仪器装置（如液相泵、进样阀、色谱柱等）造成损坏或堵塞，而且会对分析结果造成干扰。因此，在样品上机检测前对样品进行过滤显得尤为重要，并可以有效降低上述问题的发生，提高色谱检测的灵敏度和准确度。
产品用其它仪器分析没有问题，但是核磁谱图太粗糙，无法解析，无法投稿？
知道不能用简单的经济型核磁管，但是特殊核磁管那么多，又都那么贵，怎么选？

#p	c
存在于样品和溶剂中的杂质不仅容易对色谱仪器装置（如液相泵、进样阀、色谱柱等）造成损坏或堵塞，而且会对分析结果造成干扰。因此，在样品上机检测前对样品进行过滤显得尤为重要，并可以有效降低上述问题的发生，提高色谱检测的灵敏度和准确度。
产品用其它仪器分析没有问题，但是核磁谱图太粗糙，无法解析，无法投稿？
知道不能用简单的经济型核磁管，但是特殊核磁管那么多，又都那么贵，怎么选？

`);
*/
function product(p) {
    //let url = p[0];
    //let no = p[1];
	//let caption = p[2];
	let [url, no, caption] = p;
    if (url.length<100) {
        url = 'https://www.jkchemical.com/CH/products/search/' + url + no + '.html';
    }
%>
<div class="col-sm py-1  py-sm-3  border-bottom border-muted">
    <a href="<%=url%>" class="text-decoration-none">
        <div style="line-height:1.5em;">
            <div class="text-info mb-1" style="font-weight:600;"><%=no%></div>
            <div class="text-dark"><%-caption%></div>
        </div>
    </a>
</div>
<%
}

function products(arr) {
%> <div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
        <%
	csv(arr).forEach(product);
%> </div>
</div> <%
}

function subtitle1(text) {
%>
<div class="h4 text-info d-flex clearfix">
    <div class="py-2 mb-0 pr-4 d-flex align-items-center">
        <div><b><%-text%></b></div>
    </div>
</div>
<%
}

function subtitle2(text) {
%>
<div class="h5 text-dark d-flex clearfix">
    <div class="py-2 mb-0 pl-2 pr-4 d-flex align-items-center">
        <li style="list-style:square;"><b><%-text%></b></li>
    </div>
</div>
<%
}

function subtitle3(text) {
%>
<div class="border-bottom border-muted my-2">
    <div><b><%=text%></b></div>
</div>
<%
}

function description(text) {
%>
<li class="px-2 pb-3 ml-3"><%-text%></li>
<%
}

let 电子顺磁管 = [
['fulltextsearch/', '705-PQ-6.25', 'L,S,X波段-精密型-天然石英<br>管长(mm): 159<br>外径(mm): 2.97±0.013<br>内径(mm): 1.99±0.013<br>壁厚(mm): 0.48<br>同心度上限(µm): 76<br>凸度上限(µm):76'],
['fulltextsearch/', '714-PQ-7', 'L,S,X波段-精密型-天然石英<br>管长(mm): 178<br>外径(mm): 4.00±0.013<br>内径(mm): 3.20±0.013<br>壁厚(mm): 0.40<br>同心度上限(µm): 51<br>凸度上限(µm):51'],
['fulltextsearch/', '733-3PQ-200M', 'L,S,X波段-精密型-人工石英<br>管长(mm): 200<br>外径(mm): 10.00±0.013<br>内径(mm): 9.07±0.013<br>壁厚(mm): 0.46<br>同心度上限(µm): 76<br>凸度上限(µm):38'],
['fulltextsearch/', '735-PQ-250M', 'L,S,X波段-精密型-人工石英<br>管长(mm): 250<br>外径(mm): 4.00±0.013<br>内径(mm): 3.20±0.013<br>壁厚(mm): 0.40<br>同心度上限(µm): 51<br>凸度上限(µm):76'],
['fulltextsearch/', '707-SQ-100M', 'L,S,X波段-经济型-天然石英<br>管长(mm): 100<br>外径(mm): 4.0<br>内径(mm): 3.0±0.2<br>壁厚(mm): 0.5'],
['fulltextsearch/', '707-SQ-250M', 'L,S,X波段-经济型-天然石英<br>管长(mm): 250<br>外径(mm): 4.0<br>内径(mm): 3.0±0.2<br>壁厚(mm): 0.5'],
];

let 指南1配套产品 = [
['fulltextsearch/', 'WP-501-2180-SET1', 'MAS探针类型: Bruker® 2.5mm<br>温度范围: -30 to 70 ℃<br>一个2.5mm转子管, 两个 Vespel®管帽和两个管底<br>Vmax=35 kHz'],
['fulltextsearch/', 'WP-501-3180-SET1', 'MAS探针类型: Bruker® 3.2mm<br>温度范围: -30 to 70 ℃<br>一个3.2mm转子管, 两个 Vespel®管帽和两个管底<br>Vmax=24 kHz'],
['fulltextsearch/', 'WP-501-4180-SET-1', 'MAS探针类型: Bruker® 4mm<br>温度范围: -100 to 200 ℃<br>一个转子管, 两个Kel-F®管帽, 一个Torlon®管帽<br>Vmax=18 kHz'],
['fulltextsearch/', 'WP-501-4180-SET-2', 'MAS探针类型: Bruker® 4mm<br>温度范围: -100 to 200 ℃<br>两个转子管, 四个Kel-F®管帽, 一个Torlon®管帽<br>Vmax=18 kHz'],
['fulltextsearch/', 'WP-501-5225', 'MAS探针类型: Varian® 5mm<br>温度范围: -150 to 650 ℃<br>锆转子体<br>Vmax=15 kHz'],
['fulltextsearch/', 'JK-603-5225', 'MAS探针类型: Varian® 5mm<br>温度范围: -100 to 200 ℃<br>Torlon®管帽, 两个O形垫圈型'],

];

let 布鲁克核磁管 = [
['fulltextsearch/', '620-1A', '适用探头: 布鲁克1.0 mm MicroProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 1.00<br>底茎内径(mm): 0.80<br>底茎总体积(µL): 25<br>总管长(inch): 8'],
['fulltextsearch/', '620-1B', '适用探头: 布鲁克1.7 mm MicroCryoProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 1.70<br>底茎内径(mm): 1.30<br>底茎总体积(µL): 66<br>总管长(inch): 8'],
['fulltextsearch/', '620-1C', '适用探头: 布鲁克3.0/2.5 mm CryoProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 12.0<br>底茎内径(mm): 1.60<br>底茎总体积(µL): 100<br>总管长(inch): 8'],  
];
/*
let 布鲁克核磁管 = [
['fulltextsearch/', '620-1A', '适用探头: 布鲁克1.0 mm MicroProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 1.00<br>底茎内径(mm): 0.80<br>底茎总体积(µL): 25<br>总管长(inch): 8'],
['fulltextsearch/', '620-1B', '适用探头: 布鲁克1.7 mm MicroCryoProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 1.70<br>底茎内径(mm): 1.30<br>底茎总体积(µL): 66<br>总管长(inch): 8'],
['fulltextsearch/', '620-1C', '适用探头: 布鲁克3.0/2.5 mm CryoProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 12.0<br>底茎内径(mm): 1.60<br>底茎总体积(µL): 100<br>总管长(inch): 8'],  
];
*/

let csv布鲁克核磁管 = `
fulltextsearch/	620-1A	适用探头: 布鲁克1.0 mm MicroProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 1.00<br>底茎内径(mm): 0.80<br>底茎总体积(µL): 25<br>总管长(inch): 8
fulltextsearch/	620-1B	适用探头: 布鲁克1.7 mm MicroCryoProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 1.70<br>底茎内径(mm): 1.30<br>底茎总体积(µL): 66<br>总管长(inch): 8
fulltextsearch/	620-1C	适用探头: 布鲁克3.0/2.5 mm CryoProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 12.0<br>底茎内径(mm): 1.60<br>底茎总体积(µL): 100<br>总管长(inch): 8
`;

let 内容=`
存在于样品和溶剂中的杂质不仅容易对色谱仪器装置（如液相泵、进样阀、色谱柱等）造成损坏或堵塞，而且会对分析结果造成干扰。因此，在样品上机检测前对样品进行过滤显得尤为重要，并可以有效降低上述问题的发生，提高色谱检测的灵敏度和准确度。
产品用其它仪器分析没有问题，但是核磁谱图太粗糙，无法解析，无法投稿？
知道不能用简单的经济型核磁管，但是特殊核磁管那么多，又都那么贵，怎么选？
`;

t0('a', '文章主标题标题');
t0('b', '文章绿标题');
t0('c', '文章红标题');
t1('a', '主标题标题');
t1('b', '小绿标题');
t1('c', '小红标题');
t2('a', '主标题标题');
t2('b', '小绿标题');
t2('c', '小红标题');
t3('a', '主标题标题');
t3('b', '小绿标题');
t3('c', '小红标题');

p('a', 内容);
p('b', 内容);
p('c', 内容);


%>

<h3 class="text-info text-center px-5 mt-3 mb-4 pt-3 pb-2 border-bottom border-muted">
    <b>这里是标题</b>
</h3>

<audio src="<%=$root%>audio/a1.mp3">ddd</audio>
<audio controls height="100" width="100">
    <source src="<%=$root%>audio/a1.m4a" type="audio/mp3">
    <embed height="50" width="100" src="<%=$root%>audio/a1.mp3">
</audio>


<p class="first-char-large first-line-height-small">
    存在于样品和溶剂中的杂质不仅容易对色谱仪器装置（如液相泵、进样阀、色谱柱等）造成损坏或堵塞，而且会对分析结果造成干扰。因此，在样品上机检测前对样品进行过滤显得尤为重要，并可以有效降低上述问题的发生，提高色谱检测的灵敏度和准确度。
</p>
<p>
    产品用其它仪器分析没有问题，但是核磁谱图太粗糙，无法解析，无法投稿？<br>
    知道不能用简单的经济型核磁管，但是特殊核磁管那么多，又都那么贵，怎么选？
</p>
<p class="text-danger h6">
    <b>核磁管选择小助手来啦！2分钟 +一张图助您准确选择核磁管</b>
</p>

<div class="text-center m-3">
    <img class="w-75" src="https://shop.jkchemical.com/res/0-0309.jpg" />
</div>
<ol class="small" style="color:dimgrey;font-style: italic;">
    <li>Clarke S L, Mcglacken G P. Methyl fluorosulfonyldifluoroacetate (MFSDA): An Underutilised Reagent for
        Trifluoromethylation[J]. Chemistry - A European Journal, 2017, 23(6):1219-1230.</li>
    <li>Zhao G, Wu H, Xiao Z, et al. Trifluoromethylation of haloarenes with a new trifluoro-methylating reagent
        Cu(O2CCF2SO2F)2[J]. Rsc Advances, 2016, 6(55):50250-50254.</li>
</ol>

<% subtitle3('  ') %>
<% subtitle1('电子顺磁管                       ') %>
<% description('种类齐全，包括低频（L,S,X波段）、高频（Q,W波段）顺磁管，天然石英、人工石英顺磁管，经济型和精密型顺磁管及天然石英毛细管。') %>
<% products(电子顺磁管); %>
<div class="text-dark pt-3">
    <h6>更多电子顺磁管请点击:
        <a class="mx-3 text-danger"
            href="https://www.jkchemical.com/CH/products/search/fulltextsearch/EPR%20Sample%20Tube.html">电子顺磁管
        </a></h6>
</div>
<% subtitle1('指南1配套产品（魔术角固体核磁转子管）') %>
<% description('旋转测试仅在指定的最高旋转速度下进行，确保性能而不使转子过度旋转；') %>
<% description('MAS转子和瓶盖与大多数固态NMR光谱仪100%兼容。') %>
<% products(指南1配套产品); %>
<div class="text-dark pt-3">
    <h6>更多固体核磁管请点击：
        <a class="mx-3 text-danger"
            href="https://www.jkchemical.com/CH/products/search/fulltextsearch/%E9%9D%9EGHX%E5%9E%8B.html">非GHX型瓦里安NanoProbe玻璃转子管
        </a>
        <a class="mx-3 text-danger"
            href="https://www.jkchemical.com/CH/products/search/fulltextsearch/GHX%E5%9E%8B.html">GHX型瓦里安NanoProbe玻璃转子管
        </a>
        <a class="mx-3 text-danger"
            href="https://www.jkchemical.com/CH/products/search/fulltextsearch/%E8%BD%AC%E5%AD%90%E5%A5%97%E7%AE%A1.html">Pyrex®玻璃MAS转子套管
        </a>
    </h6>
</div>

<% subtitle1('指南2配套产品（微量核磁管）         ') %>
<% subtitle2('布鲁克MicroProbe/MicroCryoProbe核磁管') %>
<% description('为600MHz以上的超高场实验量身定做；') %>
<% description('高精度、高纯度材料，保证实验的匀场质量和信噪比。') %>
<% products(布鲁克核磁管); %>

<% subtitle2('布鲁克MicroProbe/MicroCryoProbe核磁管') %>
<% description('为600MHz以上的超高场实验量身定做；') %>
<% description('高精度、高纯度材料，保证实验的匀场质量和信噪比。') %>
<% products(布鲁克核磁管); %>

<div class="bg-success">csv布鲁克核磁管</div>
<% products(csv布鲁克核磁管); %>


<h6 class="my-3"><b>相关推荐</b></h6>
<div class="row text-center h6 my-3 row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col-sm p-3">
        <a href="https://www.jkchemical.com/InformationContent.aspx?language=ch&id=1338"
            class="text-decoration-none text-dark" style="font-weight:600;">
            样品瓶系列产品<br>
            <img src="https://shop.jkchemical.com/res/0-0238.png" /> <br>
            样品瓶系列产品<br>
        </a>
    </div>
    <div class="col-sm p-3 ">
        <a href="https://www.jkchemical.com/InformationContent.aspx?language=ch&id=1356"
            class="text-decoration-none text-dark" style="font-weight:600;">
            固相萃取产品<br>
            <img src="https://shop.jkchemical.com/res/0-0127.jpg" /><br>
            固相萃取产品<br>
        </a>
    </div>
    <div class="col-sm p-3 ">
        <a href="https://www.jkchemical.com/InformationContent.aspx?language=ch&id=895"
            class="text-decoration-none text-dark" style="font-weight:600;">
            LC-MS色谱溶剂<br>
            <img src="https://shop.jkchemical.com/res/0-0240.jpg" /><br>
            LC-MS色谱溶剂<br>
        </a>
    </div>
</div>
ddd
<div class="row text-center h6 my-3 row-cols-1 row-cols-sm-2 row-cols-md-3">
    <div class="col p-3 ">
        <a href="https://www.jkchemical.com/InformationContent.aspx?language=ch&id=1373"
            class="text-decoration-none text-dark" style="font-weight:600;">
            气相色谱柱<br>
            <img src="https://shop.jkchemical.com/res/0-0241.jpg" /><br>
            气相色谱柱<br>
        </a>
    </div>
    <div class="col p-3 ">
        <a class="d-flex h-100 flex-column text-decoration-none text-dark"
            href="https://www.jkchemical.com/InformationContent.aspx?language=ch&id=1374" style="font-weight:600;">
            <div>液相色谱柱</div>
            <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
                <img src="https://shop.jkchemical.com/res/0-0242.jpg" style="max-width: 100%;" />
            </div>
            <div>液相色谱柱</div>
        </a>
    </div>
    <div class="col p-3">
        <a class="d-flex h-100 flex-column text-decoration-none text-dark" href="#"
            style="font-weight:600; max-height: 10rem;">
            <div>超洁净移液器吸头</div>
            <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
                <img src="img/vert.png" style="max-width: 100%;" />
            </div>
            <div>超洁净移液器吸头</div>
        </a>
    </div>
</div>