#hm 0.0.1
SEO: ddd bbb ddd
领域: 生化 有机 无机
重要: 1级 2级 3级
规模: 大 中 小 微


#t0 a
一个实验小白，轻松掌控3个搅拌实验的奥秘

#[ border bg-light p-5 rounded mx-5

#p c
您有过这种经历吗？

#p c
实验无进展，论文未发表，导师催得紧，着急……<img src="https://shop.jkchemical.com/res/0-0802.png" />

#]

#audio
audio/1.mp3

#:cell2
<div class="col-sm py-1 my-1 py-sm-2 border-bottom border-muted">
    <img class="float-sm-left w-25" src="<%-(data[0])%>">
    <div class="d-sm-flex" style="line-height:1.5em; ">
        <div class="text-dark ml-3">
            <div><a href="<%-(data[1])%>" class="text-decoration-none pr-3 text-info"
                    style="font-weight:600;"><%=esc(data[2])%></a>
                <div class="text-dark"><%=esc(data[3])%></div>
            </div>
            <b><%-esc(data[4])%></b>
            <div class="mb-2"><%=esc(data[5])%></div>
        </div>
    </div>
</div>

#:cell3
<div class="col-sm py-1  py-sm-3  border-bottom border-muted">
    <a href="<%-(data[0])%>" class="text-decoration-none">
        <div style="line-height:1.5em;">
            <div class="text-info mb-1" style="font-weight:600;"><%=esc(data[1])%></div>
            <div class="text-dark"><%-esc(data[2])%></div>
        </div>
    </a>
</div>


#t0 a
百灵威“多面手”PAMAM ——聚酰胺高分子材料

#image float-right w-100 w-sm-50 w-lg-25 p-0 ml-3
https://shop.jkchemical.com/res/0-0510.png
图片来自文献(Chemical Communications, <b>2011</b>, 47(34): 9572-9587.)

#p
聚酰胺
(PAMAM)高分子材料是一类高度支化，具有特定三维结构、分子尺寸，构型高度可控的“多面手”树枝状大分子。其独特的分子结构与物理化学性质使之在生物医药缓释、遗传物质载体、表面活性剂、环境污染处理等方面有广泛的应用，是多学科交叉领域研究热点材料之一。

#p c
百灵威提供实验室级和工业级别的树枝状聚酰胺高分子材料，无毒、高溶解度、易成膜，满足多领域热点研究需求。

#hr down
https://shop.jkchemical.com/res/0-0598.png

#p c
<p class="text-dark"><b>可应用于如下领域研究：</b></p>

#ul a
医药领域：作为药物、基因、疫苗的载体；
主客体化学领域：作为主体分子进行超分子、主客体化学的研究；
高效催化剂：可用于进行多位点和单位点催化研究；
液晶，薄膜和涂层中进行自组装。

#ulul a
产品优势
绿色试剂: PAMAM无毒, 属于常规绿色试剂
高溶解度: PAMAM高度支化的性质带来高溶解度特性,便于加工和应用
易成膜: PAMAM高度支化,分子链不规则排列, Tg和结晶性降低，使得它更易成膜
应用举例
PAMAM用于药物释放示意图

#image border
https://shop.jkchemical.com/res/0-0510.png
图片来自文献(Chemical Communications, <b>2011</b>, 47(34): 9572-9587.)

#- down

#t1 a
指南1配套产品（魔术角固体核磁转子管）

#[ border bg-light p-3 p-lg-5 rounded mx-sm-3 mx-lg-5

#ul a
旋转测试仅在指定的最高旋转速度下进行，确保性能而不使转子过度旋转；
MAS转子和瓶盖与大多数固态NMR光谱仪100%兼容。

#v outline-info
点击查看详细内容

#grid cell3 b
https://www.jkchemical.com/CH/products/A01975764.html 705-PQ-6.25 L,S,X波段-精密型-天然石英<br>管长(mm): 159<br>外径(mm):
2.97±0.013<br>内径(mm): 1.99±0.013<br>壁厚(mm): 0.48<br>同心度上限(µm): 76<br>凸度上限(µm):76
https://www.jkchemical.com/CH/products/A01975764.html 714-PQ-7 L,S,X波段-精密型-天然石英<br>管长(mm): 178<br>外径(mm):
4.00±0.013<br>内径(mm): 3.20±0.013<br>壁厚(mm): 0.40<br>同心度上限(µm): 51<br>凸度上限(µm):51
https://www.jkchemical.com/CH/products/A01975764.html 733-3PQ-200M L,S,X波段-精密型-人工石英<br>管长(mm): 200<br>外径(mm):
10.00±0.013<br>内径(mm): 9.07±0.013<br>壁厚(mm): 0.46<br>同心度上限(µm): 76<br>凸度上限(µm):38
https://www.jkchemical.com/CH/products/A01975764.html 735-PQ-250M L,S,X波段-精密型-人工石英<br>管长(mm): 250<br>外径(mm):
4.00±0.013<br>内径(mm): 3.20±0.013<br>壁厚(mm): 0.40<br>同心度上限(µm): 51<br>凸度上限(µm):76

#t1 a
指南2[[配]套[产品]（微量核磁管）

#]

#t2 a
布鲁克MicroProbe/MicroCryoProbe核磁管

#ul a
为600MHz以上的超高场实验量身定做；
高精度、高纯度材料，保证实验的匀场质量和信噪比。

#v outline-primary
点击查看详细内容

#grid cell2 c
https://shop.jkchemical.com/res/0-0499.png https://www.jkchemical.com/CH/products/A01975764.html 975764 55094-52-5
2,3,5-Tri-O-benzyl-D-ribono-1,4-lactone, 97% <br>2,3,5-三苄氧基-D-核糖酸-1,4-内酯 500ml, 1L
https://shop.jkchemical.com/res/0-0499.png https://www.jkchemical.com/CH/products/A01975764.html 975764 55094-52-5
2,3,5-Tri-O-benzyl-D-ribono-1,4-lactone, 97% <br>2,3,5-三苄氧基-D-核糖酸-1,4-内酯 500ml, 1L
https://shop.jkchemical.com/res/0-0499.png https://www.jkchemical.com/CH/products/A01975764.html 975764 55094-52-5
2,3,5-Tri-O-benzyl-D-ribono-1,4-lactone, 97% <br>2,3,5-三苄氧基-D-核糖酸-1,4-内酯 500ml, 1L
https://shop.jkchemical.com/res/0-0499.png https://www.jkchemical.com/CH/products/A01975764.html 975764 55094-52-5
2,3,5-Tri-O-benzyl-D-ribono-1,4-lactone, 97% <br>2,3,5-三苄氧基-D-核糖酸-1,4-内酯 500ml, 1L

如果不放产品列表，请按此来写：
<a class="text-danger" src="此处放节点链接">点击查看详细产品列表</a>