<%- include('headers/header.ejs') -%>
<%- include('headers/home-header.ejs') -%>

<div class="container my-3">
    <div class="row">
        <div class="col-sm-9">
            <%
            let {name, children} = category;
        %>
            <div class="h5 text-info> text-center border-info> py-3"
                style="border-bottom-width: 0.2rem;border-bottom-style: solid;">
                <b><%=name%></b>
            </div>
            <% for (let i=0; i < children.length; i++) {
                let { id: childrenId, name: childrenName, isLeaf } = children[i];
                
            %>
            <div class="border-muted border-bottom p-3 my-2">
                <% if (isLeaf) { %>
                    <a href="<%=productPath + childrenId%>" target="blank"><%=childrenName%></a>
                <% } else { %>
                    <a href="<%=path + childrenId%>"><%=childrenName%></a>
                 <% } %>
            </div>
            <% } %>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
<%- include('footers/home-footer.ejs') -%>
