<%- include('headers/header.ejs') -%>
<%- include('headers/home-header.ejs') -%>

<%
    var len = categories.length;
%>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <%
                let { icon, subs, color} = categories[current];
            %>
            <div class="h5 text-<%=color%> text-center border-<%=color%> py-3" style="border-bottom-width: 0.2rem;border-bottom-style: solid;">
                <img class="position-absolute" src="<%=icon%>" style="left:1.5rem;top:-0.3rem; width: 4rem;height:4rem;" />
                <b><%=subs[index].sub[0].title%></b>
            </div>
            <% for (let i=0; i<subs[index].sub[0].classifyy.length; i++) {
                %>
                <div class="border-muted border-bottom p-3 my-2"><%=subs[index].sub[0].classifyy[i].subdirectory%></div>
                <% } %>
        </div>
        <div class="col-sm-4">
         <ul>
            <% for (let k=0; k<subs.length; k++) { 
                console.log(k)
                %>
                    <a href="<%=k%>" class="list-group-item list-group-item-action <%=k==index &&'list-group-item-primary'%> px-2 mb-2" target="blank">
                        <img class="float-left" src="<%=icon%>" style="width: 2.5rem;height:2.5rem; margin: -0.3rem 0.5rem -0.3rem 0;" />
                        <div class="mb-1 text-center text-<%=color%>"><b class="h6"><%=subs[k].sub[0].title%></b></div>
                        <div class="small text-muted">
                            <span class="small"><%=subs[k].sub[0].classifyy.map(v=>v.subdirectory).join(' / ')%></span>
                        </div>
                    </a>
                <% } %>
         </ul>

        </div>
    </div>
</div>
<%- include('footers/home-footer.ejs') -%>