<%- include('headers/header.ejs') -%>
<%- include('headers/home-header.ejs') -%>

<script>
    var countInCart = 1;
    function showCart() {
        let a = document.getElementById('cart');
        a.innerText = countInCart > 0 ? countInCart : '';
    }
    function cartClick() {
        if (countInCart <= 0) return;
        --countInCart;
        showCart();
    }
    window.onfocus = function () {
        countInCart++;
        showCart();
    };
    window.onload = function () {
        showCart();
    }
    window.onblur = cartClick;
    function search(e) {
        document.location.href = 'search?key=' + encodeURIComponent(searchForm.keyInput.value);
        return false;
    }
</script>
<div class="container">

    <form class="my-3" name="searchForm" onsubmit="return search()">
        <div class="form-row align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="input-group border border-primary rounded">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-primary text-white"><i class="fa fa-search"></i></div>
                    </div>
                    <input type="text" name="keyInput" class="form-control border-0"
                        placeholder="品名、货号、CAS号、MDL号或关键词" />
                    <div class="input-group-append">
                        
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <!-- button type="button" class="btn btn-outline-primary position-relative" onclick="cartClick()">
            <i class="fa fa-shopping-cart"></i> <small>购物车</small>
            <span class="badge badge-pill badge-danger position-absolute" id='cart'
                style="right:-0.3rem;top:-0.3rem"></span>
        </button-->
            </div>
        </div>
    </form>

    <div style="margin-bottom: 0.1rem; height:0.1rem;background-color:darkgray;"></div>
    <ul class="list-group list-group-horizontal-sm">
        <% for (let i=0; i< categories.length; i++) {
        let {id, name, icon, children, color} = categories[i];
        console.log(icon)
    %>
        <a href="category/<%=id%>" class="list-group-item list-group-item-action px-sm-2" target="blank">
            <!-- <img class="position-absolute
                category-md-icon category-lg-icon category-icon category-sm-icon" src="<%=icon%>" /> -->
            <div class="mb-sm-2 text-center text-<%=color%>"><b><%=name%></b></div>
            <div class="small text-muted d-none d-sm-block" style="max-height: 6em; overflow: hidden;">
                <span class="small"><%=children.map(v=>v.name).join(' / ')%></span>
            </div>
        </a>
        <% } %>
    </ul>

    <div style="margin-top: 0.1rem; height:0.1rem;background-color:darkgray;"></div>

    <div class="row my-3">
        <div class="col-lg-8">
            <div class="d-flex bg-primary px-4 py-2 rounded font-weight-bold text-white mb-1">
                <h5 class="mt-1" style="flex: 1;">科技动态</h5> <a href="morepost" class="text-white mt-1"
                    style="font-weight: none;" target="blank"><span>更多</span></a>
            </div>
            <ul class="list-group">
                <% for(var i=0;i<news.length;i++){
                let {id, caption, disp, date, by, image, sumHits} = news[i];
            %>
                <a href="<%=path+id%>" class="list-group-item-action py-2 px-1 border-bottom">
                    <div class="row">
                        <!-- <% if (image) {%>
                        <div class="col-3 d-flex align-items-center">
							<div class="w-100 h-100 bg-center-img h-max-6c" style="background-image: url('<%=image%>');">
                            </div>
                        </div> -->
                        <div class="col-9 d-flex align-items-center">
                            <!-- <% } else { %> -->
                            <div class="col d-flex align-items-center">
                                <!-- <% }
						// <small class="text-muted text-right" style="min-width: 3rem;">< %=easyTime(date, true)% ></small>
					%> -->
                                <div class="w-100">
                                    <div class="d-flex w-100 justify-content-between">
                                        <div class="bold mb-1 text-dark-blue"><%=caption%></div>
                                    </div>
                                    <p class="mb-1 font-song"><%=disp%></p>
                                    <div class="d-flex small text-gray mt-2">
                                        <div class="col-2 p-0">
                                            <% if (sumHits) { %>
                                            <div class="mr-6"><%=sumHits%>次阅读</div>
                                            <% } else { %>
                                            <div class="mr-6">0次阅读</div>
                                            <% } %>
                                        </div>

                                        <div class="">发表于<%=easyTime(date, true)%></div>
                                        <% if (by) { %>
                                        <small class="font-song">信息来源：<%=by%></small>
                                        <% } %>

                                    </div>
                                </div>
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <% if (image) {%>
                                <div class="w-100 h-100 bg-center-img h-max-6c"
                                    style="background-image: url('<%=image%>');">
                                </div>
                                <% } %>
                            </div>
                            <!-- <div class="col-2 small text-gray" >
                            <% if (sumHits) { %>
                                <div class="mt-4"><%=sumHits%>次阅读</div>
                                <% } %>
                        </div> -->

                        </div>
                </a>
                <% } %>
            </ul>
            <div class="text-center mt-2"><a href="morepost" target="blank"><span>更多...</span></a></div>
        </div>
        <div class="col-lg-4">
            <div class="h-100" style="background-color: #f7f7ff;">
                <div class="pl-4 pr-3 py-2 d-flex border-bottom align-items-end" style="border-top: red 0.2rem solid;">
                    <div class="text-dark font-weight-bold flex-grow-1">近期热点</div>
                    <div class="small text-muted text-right">一周内</div>
                </div>
                <ul class="list-group mt-1">
                    <%
                    let hpn = 0;
                    for (let pn of hotPosts) {
                        hpn++;
                        if (hpn > 10) break;
                        let {post, caption, imagePath, hits, create} = pn;
                %>
                    <a href="<%=path+post%>"
                        class="list-group-item-action py-2 pl-4 pr-3 border-bottom d-flex align-items-center">
                        <div class="d-flex w-100">
                            <% if (false && imagePath) { %>
                            <div class="w-3-5c h-3-5c">
                                <div class="h-100"
                                    style="max-height:3.5rem;background-size:cover;background-image: url('<%=imagePath%>');border-style:none;border-width:0;background-position: center;">
                                </div>
                            </div>
                            <% } %>
                            <div class="flex-grow-1 d-flex flex-column">
                                <div class="flex-grow-1 position-relative">
                                    <span class="text-muted position-absolute" style="left:-1em">◎</span>
                                    <%=caption%>
                                </div>
                                <div class="d-flex small text-gray mt-2">
                                    <div class="flex-grow-1"><%=easyTime(create, false)%>发表</div>
                                    <div><%=hits%>次阅读</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>

    <div class="my-1">
        <div class="btn-group w-100">
            <div class="btn-group flex-fill">
                <button type="button" class="px-3 btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    产品与服务
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://www.jkchemical.com">产品目录</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group flex-fill">
                <button type="button" class="px-3 btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    资料信息
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://tv.jkchemical.com/jk-web/wayne-ligsh-test">Wayne 李国声 Wix
                        测试</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
            <div class="btn-group flex-fill">
                <button type="button" class="px-3 btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    优惠活动
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                        href="https://www.jkchemical.com/InformationContent.aspx?language=ch&id=1496">双倍积分</a>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('footers/home-footer.ejs') -%>