<%- include('headers/home-header.ejs') -%>
<div class="container">

<form class="my-3" onsubmit="return (function(e){alert('搜索正在实现中！');return false;})()">
    <div class="form-row align-items-center justify-content-center">
      <div class="col-9 col-sm-8 col-md-6">
        <div class="input-group border border-primary rounded">
          <div class="input-group-prepend">
            <div class="input-group-text bg-primary text-white"><i class="fa fa-search"></i></div>
          </div>
          <input type="text" class="form-control border-0" 
          placeholder="购物请搜索，或点击下面产品大类"
          data-a="品名、货号、CAS号、MDL号或关键词">
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">搜索</button>
      </div>
    </div>
</form>

<div style="margin-bottom: 0.1rem; height:0.1rem;background-color:darkgray;"></div>
<ul class="list-group list-group-horizontal-sm">
    <% for (let i=0; i<categories.length; i++) { 
        let {caption, icon, subs, color} = categories[i];
    %>
        <a href="category/<%=i%>" class="list-group-item list-group-item-action px-2" target="blank">
            <img class="position-absolute d-sm-none d-md-none d-lg-block" 
                src="<%=icon%>" 
                style="left:0.1rem; top:0.2rem; width: 2.5rem;height:2.5rem;" />
            <div class="mb-2 text-center text-<%=color%>"><b><%=caption%></b></div>
            <div class="small text-muted">
                <span class="small"><%=subs.map(v=>v.sub).join(' / ')%></span>
            </div>
        </a>
    <% } %>
</ul>

<div style="margin-top: 0.1rem; height:0.1rem;background-color:darkgray;"></div>

<div class="row my-3">
    <div class="col-sm-8">
        <div class="bg-primary px-4 py-2 rounded font-weight-bold text-white mb-1">
            行业动态
        </div>
        <ul class="list-group">
            <% for(var i=0;i<news.length;i++){ 
                let {id, caption, disp, date, by, image} = news[i];
            %>
                <a href="<%=path+id%>" class="list-group-item-action py-1 border-bottom">
                    <div class="row">
                    <% if (image) {%>
                        <div class="col-3 d-flex align-items-center">
                            <div class="w-100 h-100" style="max-height:6rem;background-size:cover;background-image: url('<%=image%>');border-style:none;border-width:0;background-position: center;">
                            </div>
                        </div>
                        <div class="col-9 d-flex align-items-center">
                    <% } else { %>
                        <div class="col d-flex align-items-center">
                    <% } %>
                            <div class="w-100">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="bold mb-1 text-dark-blue"><%=caption%></div>
                                <small class="text-muted text-right" style="min-width: 3rem;"><%=easyTime(date, true)%></small>
                            </div>
                            <p class="mb-1 font-song"><%=disp%></p>
                            <% if (by) { %>
                                <small class="text-muted font-song">信息来源：<%=by%></small>
                            <% } %>
                            </div>
                        </div>
                    </div>
                </a>
            <% } %>
        </ul>        
    </div>
    <div class="col-sm-4">
        <div class="h-100" style="background-color: #f7f7ff;">
            <div class="border-danger border-top border-bottom text-danger small px-4 py-2 font-weight-bold">近期热文</div>
            <ul class="list-group mt-1">
                <% for (let pn of latestProducts) {
                    let {caption} = pn;
                %>
                    <a href="<%=path+52%>" class="list-group-item-action py-2 px-2 border-bottom d-flex align-items-center">
                        <small><i class="text-info fa fa-hand-o-right mr-3"></i></small><%=caption%>
                    </a>
                <% } %>
            </ul>
        </div>        
    </div>
</div>

<div class="my-1">
<div class="btn-group w-100">
    <div class="btn-group flex-fill">
        <button type="button" class="px-3 btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            产品与服务
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www.jkchemical.com">产品目录</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
    <div class="btn-group flex-fill">
        <button type="button" class="px-3 btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            资料信息
            </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="https://tv.jkchemical.com/jk-web/wayne-ligsh-test">Wayne 李国声 Wix 测试</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
    <div class="btn-group flex-fill">
        <button type="button" class="px-3 btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            优惠活动
            </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www.jkchemical.com/InformationContent.aspx?language=ch&id=1496">双倍积分</a>
        </div>
    </div>
</div>
</div>

</div>

<%- include('footers/home-footer.ejs') -%>

<!-- div class="col-sm-3 my-3">
        <div class="bg-warning small text-white rounded-pill px-4 pt-1 pb-2 mb-1">产品快讯</div>
        <ul class="list-group">
            <% for (let pn of productNews) {
                let {caption} = pn;
            %>
                <a href="#" class="list-group-item list-group-item-action py-2 pl-3">
                    <small class="mr-3"><i class="text-warning fa fa-chevron-circle-right"></i></small><%=caption%>
                </a>
            <% } %>
        </ul>        
        <div class="bg-success small text-white rounded-pill px-4 pt-1 pb-2 mt-3 mb-1">电子期刊</div>
        <ul class="list-group">
            <% for (let pn of newsletter) {
                let {caption} = pn;
            %>
                <a href="#" class="list-group-item list-group-item-action py-2 pl-3">
                    <small class="mr-3"><i class="text-success fa fa-chevron-circle-right"></i></small><%=caption%>
                </a>
            <% } %>
        </ul>        
</ div -->
