<% let arr=[ { icon: 'images/Organic-Chemistry.svg' , color: 'organic' }, { icon: 'images/Analytical-Chemistry.svg' ,
    color: 'analytical' }, { icon: 'images/Life-Sciences.svg' , color: 'life' }, { icon: 'images/Material-Science.svg' ,
    color: 'material' }, { icon: 'images/Instrument-Consumables.svg' , color: 'instrument' } ] %>

    <% let { description, caption, path:imagepath, src:postsrc }=slideshow; %>

        <div class="main-content index" style="background: url(<%=imagepath%>)  no-repeat top;">
            <a href="<%=postsrc%>">
                <div class="container">
                    <div class="banner-info">
                        <h3>
                            <%-caption%>
                        </h3>
                        <p>
                            <%-description%>
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <section>
            <div class="postion-img">
                <img src="<%=$root%>images/triangle.svg">
            </div>

            <div class="main-icon" style="background-color:transparent;">
                <div class="container">
                    <div class="row">
                        <% for (let i=0; i< rootcategories.length; i++) { let {id, name, children }=rootcategories[i];
                            let { icon,color }=arr[i]; %>
                            <a class="sperate-icon" href="product-catalog/<%=id%>">
                                <h2 class="<%=color%>-border <%=color%>">
                                    <%=name%>
                                </h2>
                            </a>
                            <% } %>
                    </div>
                </div>
            </div>

            <div class="resource ptb-lg-75">
                <div class="container">
                    <h2 class="main-title text-center"> <a href="<%=$root%>information">资讯中心</a> </h2>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-7 pad-lf35">
                            <div class="bottom-block">
                                <div class="row">
                                    <% let { id:id0, caption:caption0 , disp:disp0, image:image0 , name:name0
                                        }=information[0]; %>
                                        <div class="col-lg-12 position-re home-main-pic">
                                            <div class="img-wrap">
                                                <a href="<%=path+id0%>"><img src="<%=image0%>"></a>
                                            </div>
                                            <div class="home-main-pic-info">
                                                <div class="title-wrap mint">
                                                </div>
                                                <a href="<%=path+id0%>">
                                                    <p>
                                                        <%=caption0%>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <% let { id:id1, caption:caption1, disp:disp1, image:image1, name:name1
                                            }=information[1]; %>
                                            <hr class="mobile-divider">
                                            <div class="col-lg-6 pad-l-0 col-sm-6 position-re-s">
                                                <div class="col-xs-3 display-desktop">
                                                    <div class="img-wrap">
                                                        <a href="<%=path+id1%>"><img src="<%=image1%>"></a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-9">
                                                    <div class="title-wrap">
                                                    </div>
                                                    <a href="<%=path+id1%>">
                                                        <p>
                                                            <%=caption1%>
                                                        </p>
                                                    </a>
                                                </div>
                                                <!-- mobile -->
                                                <div class="col-xs-3 display-mobile">
                                                    <div class="img-wrap">
                                                        <a href="<%=path+id1%>"><img src="<%=image1%>"></a>
                                                    </div>
                                                </div>
                                                <!-- mobile end-->
                                            </div>

                                            <% let { id:id2, caption:caption2, disp:disp2, image:image2, name:name2
                                                }=information[2]; %>
                                                <hr class="mobile-divider">
                                                <div class="col-lg-6 pad-l-0 col-sm-6 position-re-s">
                                                    <div class="col-xs-3 display-desktop">
                                                        <div class="img-wrap">
                                                            <a href="<%=path+id2%>"><img src="<%=image2%>"></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        <div class="title-wrap">

                                                        </div>
                                                        <a href="<%=path+id2%>">
                                                            <p>
                                                                <%=caption2%>
                                                            </p>
                                                        </a>
                                                    </div>
                                                    <!-- mobile -->
                                                    <div class="col-xs-3 display-mobile">
                                                        <div class="img-wrap">
                                                            <a href="<%=path+id2%>"><img src="<%=image2%>"></a>
                                                        </div>
                                                    </div>
                                                    <!-- mobile end-->
                                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="side-block mt-lg-4">
                                <% for(var i=0;i<hots.length;i++){ if (i> 5) break;
                                    let {post, caption,subject,image } = hots[i];
                                    %>
                                    <hr class="mobile-divider">
                                    <div class="overflow">
                                        <div class="post-preview mt-lg-4 col-xs-9 p-flot">
                                            <span class="line"></span>
                                            <p>
                                                <a href="<%=path+post%>">
                                                    <%=caption%>
                                                </a>
                                            </p>
                                        </div>
                                        <!-- mobile -->
                                        <div class="col-xs-3 display-mobile">
                                            <div class="img-wrap">
                                                <a href="<%=path+post%>"><img src="<%=image%>"></a>
                                            </div>
                                        </div>
                                        <!-- mobile end-->
                                    </div>

                                    <% } %>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>

            <div class="postion-img-two" style="z-index: -1;">
                <img src="<%=$root%>images/triangle2.svg">
            </div>

            <% if(discounts.count > 0){ %>
                <div class="special-offer">
                    <h2 class="main-title text-center"><a href="<%=$root%>subjectpost/18">特惠活动</a> </h2>
                    <div class="container">
                        <div class="row mt-lg-4" style="text-align: center;">
                            <% for(var j=0; j<discounts.length; j++){ if (j> 3) break;
                                let {id, caption, image } = discounts[j];
                                %>
                                <div class="col-lg-3 col-sm-6 col-xs-6">
                                    <div class="img-wrap">
                                        <a href="<%=path+id%>"><img src="<%=image%>"></a>
                                    </div>
                                    <a href="<%=path+id%>"></a>
                                    <h2 class="h1 mt-lg-1">
                                        <%=caption%>
                                    </h2>
                                    </a>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            <% } %>


            <div class="feature-products">
                <div class="postion-img-three ">
                    <img src="<%=$root%>images/triangle2.svg">
                </div>
                <h2 class="main-title text-center"><a href="<%=$root%>subjectpost/17">推荐产品 </a></h2>
                <div class="container">
                    <div class="row mt-lg-4">
                        <% for(var j=0; j<recommend.length; j++){ if (j> 3) break;
                            let {id, caption, image } = recommend[j];
                            %>
                            <div class="col-lg-3 col-sm-6 col-xs-6">
                                <div class="img-wrap">
                                    <a href="<%=path+id%>"><img src="<%=image%>"></a>
                                </div>
                                <a href="<%=path+id%>">
                                    <h2 class="h1 mt-lg-1">
                                        <%=caption%>
                                    </h2>
                                </a>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </section>