<%
let arr = [
        {       
            icon: 'img/Organic-Chemistry.svg',
            color: 'organic',
        },
        {
            icon: 'img/Analytical-Chemistry.svg',
            color: 'analytical',
        },
        {
            icon: 'img/Life-Sciences.svg',
            color: 'life',
        },
        {
            icon: 'img/Material-Science.svg',
            color: 'material',
        },
        {
            icon: 'img/Instrument-Consumables.svg',
            color: 'instrument',
        }
    ]
%>


<div class="main-content" style="background: url(<%=$root%>img/slide-01.jpg)  no-repeat top;">
    <div class="container">
        <div class="banner-info">
            <h3>食品安全快速检测</h3>
            <p>100+ 试剂、标准品及耗材解决方案</p>
        </div>
    </div>
</div>
<section>
    <div class="postion-img">
        <img src="<%=$root%>img/triangle.svg">
    </div>
    <div class="main-icon">
        <div class="container">
            <div class="row">
                <% for (let i=0; i< rootcategories.length; i++) {
                    let {id, name, children } = rootcategories[i];
                    let { icon,color } = arr[i];
                %>
                <a class="sperate-icon" href="category/<%=id%>">
                    <div class="<%=color%>-border">
                        <img src="<%=icon%>">
                    </div>
                    <h2 class="<%=color%>"><%=name%></h2>
                </a>
                <% } %>
            </div>
        </div>
    </div>

    <div class="resource ptb-lg-75">
        <div class="container">
            <h2 class="main-title text-center px-3"> <a href="<%=$root%>morepost">资讯中心</a> </h2>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-7 pad-lf35">
                    <div class="bottom-block">
                        <div class="row">
                            <% let { id:id0, caption:caption0 , disp:disp0, image:image0 } = news[0]; %>
                            <div class="col-lg-12 position-re">
                                <div class="img-wrap">
                                    <a href="<%=path+id0%>"><img src="<%=image0%>"></a>
                                </div>
                                <div class="title-wrap mint">
                                    <a href="#">人名反应</a>
                                </div>
                                <a href="<%=path+id0%>">
                                    <p><%=caption0%></p>
                                </a>
                            </div>
                            <% let { id:id1, caption:caption1, disp:disp1, image:image1 } = news[1]; %>
                            <hr class="mobile-divider">
                            <div class="col-lg-6 pad-l-0 col-sm-6 position-re-s">
                                <div class="col-xs-3 display-desktop">
                                    <div class="img-wrap">
                                        <a href="<%=path+id1%>"><img src="<%=image1%>"></a>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="title-wrap">
                                        <div class="mint"><a href="<%=path+id1%>">人名反应</a></div>
                                    </div>
                                    <a href="<%=path+id1%>">
                                        <p><%=caption1%></p>
                                    </a>
                                </div>
                                <!-- mobile -->
                                <div class="col-xs-3 display-mobile">
                                    <div class="img-wrap">
                                        <a href="#"><img src="<%=image1%>"></a>
                                    </div>
                                </div>
                                <!-- mobile end-->
                            </div>

                            <% let { id:id2, caption:caption2, disp:disp2, image:image2 } = news[2]; %>
                            <hr class="mobile-divider">
                            <div class="col-lg-6 pad-l-0 col-sm-6 position-re-s">
                                <div class="col-xs-3 display-desktop">
                                    <div class="img-wrap">
                                        <a href="<%=path+id2%>"><img src="<%=image2%>"></a>
                                    </div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="title-wrap">
                                        <div class="mint"><a href="<%=path+id2%>">人名反应</a></div>
                                    </div>
                                    <a href="<%=path+id2%>">
                                        <p><%=caption1%></p>
                                    </a>
                                </div>
                                <!-- mobile -->
                                <div class="col-xs-3 display-mobile">
                                    <div class="img-wrap">
                                        <a href="#"><img src="<%=image2%>"></a>
                                    </div>
                                </div>
                                <!-- mobile end-->
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="side-block  mt-lg-4">
                        <% for(var i=5;i<hots.length;i++){
                            if (i > 10) break;
                            let {post, caption,subject,image } = hots[i];
                        %>
                        <hr class="mobile-divider">
                        <div class="overflow">
                            <div class="post-preview  mt-lg-4 col-xs-9">
                                <h4 class="post-title"><a href="<%=path+post%>"><%=subject%></a></h4>
                                <p><a href="<%=path+post%>"><%=caption%></a></p>
                            </div>
                            <!-- mobile -->
                            <div class="col-xs-3 display-mobile">
                                <div class="img-wrap">
                                    <a href="<%=path+post%>"><img src="<%=image%>"></a>
                                </div>
                            </div>
                            <!-- mobile end-->
                        </div>

                        <% } %>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

    <div class="postion-img-two">
        <img src="<%=$root%>img/triangle2.svg">
    </div>

    <div class="special-offer">
        <h2 class="main-title text-center"><a href="#">特惠活动</a> </h2>
        <div class="container">
            <div class="row mt-lg-4">
                <% for(var j = 0; j<discounts.length; j++){
                    if (j > 3) break;
                    let {id, caption, image } = discounts[j];
                %>
                <div class="col-lg-3 col-sm-6 col-xs-6">
                    <div class="img-wrap">
                        <a href="<%=path+id%>"><img src="<%=image%>" class="w-100"></a>
                    </div>
                    <a href="<%=path+id%>">
                        <h2 class="h1 mt-lg-24"><%=caption%></h2>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="feature-products">
        <div class="postion-img-three ">
            <img src="img/triangle2.svg">
        </div>
        <h2 class="main-title text-center"><a href="#">推荐产品 </a></h2>
        <div class="container">
            <div class="row mt-lg-4">

                <div class="row mt-lg-4">
                    <% for(var j=0; j<recommend.length; j++){
                        if (j > 3) break;
                        let {id, caption, image } = recommend[j];
                    %>
                    <div class="col-lg-3 col-sm-6 col-xs-6">
                        <div class="img-wrap">
                            <a href="<%=path+id%>"><img src="<%=image%>" class="w-100"></a>
                        </div>
                        <a href="#">
                            <h2 class="h1 mt-lg-24"><%=caption%></h2>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>