<%- include('headers/header.ejs') -%>
<%- include('headers/home-header.ejs') -%>

<div class="banner"
    style="background: url(<%=$root%>images/bg-01.png);background-size: cover; background-position: center bottom;background-repeat: no-repeat;">
    <div class="container">
        <div class="banner-info">
            <h1>资讯中心</h1>
        </div>
    </div>
</div>
<div class="breadcrumbs-wrap">
    <div class="container">
        <div class="breadcrumbs">
            <a href="<%=$root%>">首页</a>
            <span>资讯中心</span>
        </div>
    </div>
</div>

<div class="container mt-lg-5">
    <div class="row">
        <div class="col-lg-9 article">
            <% for(var i=0;i<post.length;i++){ let {id, caption, disp, date, by, image, name}=post[i]; %>
                <div class="article-list row">
                    <div class="col-lg-3">
                        <a href="<%=$root + 'post/' + id%>"><img src="<%=image%>" class="w-100 "></a>
                    </div>
                    <div class="col-lg-9">
                        <h2 class="h1"> <a href="<%=$root + 'post/' + id%>">
                                <%=caption%>
                            </a></h2>
                        <div class="h-sub">
                            <a href="#">
                                <%=name%>
                            </a>
                        </div>
                        <p class="mt-lg-24"><a href="<%=$root + 'post/' + id%>">
                                <%=disp%>
                            </a></p>
                    </div>
                </div>
                <hr />
                <% } %>
        </div>
        <div class="col-lg-3">
            <%- include('right/subject.ejs') -%>
        </div>
    </div>

    <div class="mt-lg-65">
        <ul class="pagination justify-content-center">
            <% if (prepage > -1) { %>
                <li class="page-item"><a class="page-link" href="<%=$root + 'information/?pageIndex=' + prepage%>">上一页</a></li>
            <% } %>
            <% if (nextpage > 0) { %>
                <li class="page-item"><a class="page-link" href="<%=$root + 'information/?pageIndex=' + nextpage%>">下一页</a></li>
            <% } %>
        </ul>
    </div>
</div>
<%- include('footers/home-footer.ejs') -%>