
<%- include('headers/header.ejs') -%>
<%- include('headers/home-header.ejs') -%>
<%
    const imagePath = 'https://www.jkchemical.com/static/Structure/';
    const altimagePath = "https://www.jkchemical.com/static/Structure/999.png";
    function renderProp(prop) {
        let {l, v} = prop;
        if (v) {
%>
    <div class="col d-flex align-items-center">
        <small class="text-muted w-min-3c mr-2"><%=l%></small> <span><%=v%></span>
    </div>
<%
        }
    }
%> 
<div class="container">
    <div class="" style="line-height: 1.8em;">
        <% productpage.forEach(p => {
            console.log(p,'pppp')
            let { brand, chemical, description, descriptionc, id, imageUrl, 
                molecularfomula, molecularweight, cas,
                No, origin, purity, } = p;
            // if (imageUrl) imageUrl = '266897';
            let imageSrc = imageUrl? 
                imagePath + imageUrl.substr(0,3) + '/' + imageUrl + '.png'
                : 
                altimagePath;
            let props = [
                {l:'产品编号', v: No},
                {l:'cas', v: cas},
                {l:'纯度', v: purity},
                {l:'分子式', v: molecularfomula},
                {l: '分子量', v: molecularweight},
                {l: '品牌', v: brand&&brand.name},
            ];
        %>
            <a href=""  class="text-decoration-none">
            <div class="py-3 border-bottom row">
                <div class="col-sm-3 text-center" >
                    <img class="w-sm-40 w-20" src="<%=imageSrc%>">
                </div>
                <div class="col-sm-9">
                    <b><%=description%></b> <br>
                    <%=descriptionc%>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <%
                        props.forEach(prop => renderProp(prop))
        %>
                    </div>
                </div>
            </div>
            </a>
        <% }) %>
        </div>
        <div class="text-center mt-2">
            <% if (pageCount==0) { %>
            <span>上一页</span>
            <% } else { %>
            <a href="<%=prepage%>" class="py-2 px-1 border-bottom">上一页</a>
            <% } %>
    
            <% if (productpage.length<5) { %>
            <span>下一页</span>
            <% } else { %>
            <a href="<%=nextpage%>" class="py-2 px-1 border-bottom">下一页</a>
            <% } %>
        </div>
</div>
<%- include('footers/home-footer.ejs') -%>