#:cell2
<div>cell2<b>
	<%-data%> <%-esc(data[0])%></b>
</div>

#:cell3
<div class="col-sm py-1  py-sm-3  border-bottom border-muted">
	bbbb <%-data%> <%-JSON.stringify(data)%>
    <a href="<%-(data[0])%>" class="text-decoration-none">
        <div style="line-height:1.5em;">
            <div class="text-info mb-1" style="font-weight:600;"><%=esc(data[1])%></div>
            <div class="text-dark"><%-esc(data[2])%></div>
        </div>
    </a>
</div>

/#[id]link
a
http://a.com

/#[id1]img
http://a.png

#t0 a
2分钟 + 一张图 = 准确选择核磁管

#p
产品用其它仪器分析没有问题，但是核磁谱图太粗糙，无法解析，无法投稿？

#p  c
知道不能用简单的经济型核磁管，但是特殊核磁管那么多，又都那么贵，怎么选？

#p  c
样品拿到做核磁的老师那里，刚被问了几个问题，结果发现核磁管选错了，老师问是谁的学生？连根管都选错？

#p  c
好尴尬，好痛苦！

#p  c
<p text-danger h6><b>核磁管选择小助手来啦！2分钟 +一张图助您准确选择核磁管</b></p>

#image 
https://c.jkchemical.com/res/0-0308.jpg

#t1 a
配图说明

#image
https://c.jkchemical.com/res/0-0309.jpg

#image
https://c.jkchemical.com/res/0-0310.jpg

#image
https://c.jkchemical.com/res/0-0311.jpg

#image
https://c.jkchemical.com/res/0-0312.jpg

#-  a

#t1 a
电子顺磁管

#ul a
种类齐全，包括低频（L,S,X波段）、高频（Q,W波段）顺磁管，天然石英、人工石英顺磁管，经济型和精密型顺磁管及天然石英毛细管。

#v primary
点击查看详细内容

#grid b cell3
https://www.jkchemical.com/CH/products/A01975764.html	705-PQ-6.25	L,S,X波段-精密型-天然石英<br>管长(mm): 159<br>外径(mm): 2.97±0.013<br>内径(mm): 1.99±0.013<br>壁厚(mm): 0.48<br>同心度上限(µm): 76<br>凸度上限(µm):76
https://www.jkchemical.com/CH/products/A01975764.html	714-PQ-7	L,S,X波段-精密型-天然石英<br>管长(mm): 178<br>外径(mm): 4.00±0.013<br>内径(mm): 3.20±0.013<br>壁厚(mm): 0.40<br>同心度上限(µm): 51<br>凸度上限(µm):51
https://www.jkchemical.com/CH/products/A01975764.html	733-3PQ-200M	L,S,X波段-精密型-人工石英<br>管长(mm): 200<br>外径(mm): 10.00±0.013<br>内径(mm): 9.07±0.013<br>壁厚(mm): 0.46<br>同心度上限(µm): 76<br>凸度上限(µm):38
https://www.jkchemical.com/CH/products/A01975764.html	735-PQ-250M	L,S,X波段-精密型-人工石英<br>管长(mm): 250<br>外径(mm): 4.00±0.013<br>内径(mm): 3.20±0.013<br>壁厚(mm): 0.40<br>同心度上限(µm): 51<br>凸度上限(µm):76

#t1 a
指南1配套产品（魔术角固体核磁转子管）

#ul a
旋转测试仅在指定的最高旋转速度下进行，确保性能而不使转子过度旋转；
MAS转子和瓶盖与大多数固态NMR光谱仪100%兼容。

#grid b cell3
WP-501-2180-SET1    MAS探针类型: Bruker® 2.5mm<br>温度范围: -30 to 70 ℃<br>一个2.5mm转子管, 两个 Vespel®管帽和两个管底<br>Vmax=35 kHz
WP-501-3180-SET1    MAS探针类型: Bruker® 3.2mm<br>温度范围: -30 to 70 ℃<br>一个3.2mm转子管, 两个 Vespel®管帽和两个管底<br>Vmax=24 kHz
WP-501-4180-SET-1   MAS探针类型: Bruker® 4mm<br>温度范围: -100 to 200 ℃<br>一个转子管, 两个Kel-F®管帽, 一个Torlon®管帽<br>Vmax=18 kHz
WP-501-4180-SET-2   MAS探针类型: Bruker® 4mm<br>温度范围: -100 to 200 ℃<br>两个转子管, 四个Kel-F®管帽, 一个Torlon®管帽<br>Vmax=18 kHz

#t1 a
指南2配套产品（微量核磁管）

#t2 a
布鲁克MicroProbe/MicroCryoProbe核磁管

#ul a
为600MHz以上的超高场实验量身定做；
高精度、高纯度材料，保证实验的匀场质量和信噪比。

#grid b cell3
620-1A  适用探头: 布鲁克1.0 mm MicroProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 1.00<br>底茎内径(mm): 0.80<br>底茎总体积(µL): 25<br>总管长(inch): 8
620-1B  适用探头: 布鲁克1.7 mm MicroCryoProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 1.70<br>底茎内径(mm): 1.30<br>底茎总体积(µL): 66<br>总管长(inch): 8
620-1C  适用探头: 布鲁克3.0/2.5 mm CryoProbe<br>底茎长度(mm): 50<br>底茎外径(mm): 12.0<br>底茎内径(mm): 1.60<br>底茎总体积(µL): 100<br>总管长(inch): 8
620-2A  底茎长度(mm): 103.5<br>管壁厚度(mm): 0.1<br>外径(mm): 1.00±0.019<br>凸度上限(µm): 30<br>外径(mm): 1.00±0.019<br>凸度上限(µm): 30
