#:cell2
<div>cell2<b>
	<%-data%> <%-data[0]%></b>
</div>

#:cell3
<div class="border p-3">
	<div>cell3</div>
	<div><%-data%></div>
	<div><b class="text-danger"><%-data[0]%></b> == <%=data[1]%> ** <%=data[2]%></div>
</div>

#t0	a
文章主标题标题

#image float-right
https://c.jkchemical.com/res/0-0482.gif
图片说明 第一美图
https://c.jkchemical.com/res/0-0482.gif

#p b
存在于样品和溶剂中的杂质不仅容易对色谱仪器装置（如液相泵、进样阀、色谱柱等）造成损坏或堵塞，而且会对分析结果造成干扰。因此，在样品上机检测前对样品进行过滤显得尤为重要，并可以有效降低上述问题的发生，提高色谱检测的灵敏度和准确度。
产品用其它仪器分析没有问题，但是核磁谱图太粗糙，无法解析，无法投稿？
知道不能用简单的经济型核磁管，但是特殊核磁管那么多，又都那么贵，怎么选？


#p
ddsdf	sdfsdf	
asfas
afas fsaf saf

#t0	b
文章绿标题

#t0	c
文章红标题

#t1	a
主标题标题

#t1	b
小绿标题

#t1	c
小红标题

#t2	a
主标题标题

#t2	b
小绿标题

#t2	c
小红标题

#t3	a
主标题标题

#t3	b
小绿标题');

#t3	c
', '小红标题');

#grid b cell2
a	b	c
d	e	f
e	f	g
a	b	c
d	e	f
e	f	g

#grid b cell3
a	b	c
d	e	f
e	f	g
a	b	c
d	e	f
e	f	g

#

<div class="text-danger"><i class="text-primary fa fa-plus"></i> 注意了，这是这是直接写的代码</div>

#-	a

#ulul a
l1
	l1-1
	l1-2
l2
	l2-1
	l2-2
l33---33
	dd
	b

#p	b
存在于样品和溶剂中的杂质不仅容易对色谱仪器装置（如液相泵、进样阀、色谱柱等）造成损坏或堵塞，而且会对分析结果造成干扰。因此，在样品上机检测前对样品进行过滤显得尤为重要，并可以有效降低上述问题的发生，提高色谱检测的灵敏度和准确度。
产品用其它仪器分析没有问题，但是核磁谱图太粗糙，无法解析，无法投稿？
知道不能用简单的经济型核磁管，但是特殊核磁管那么多，又都那么贵，怎么选？

#p	c
存在于样品和溶剂中的杂质不仅容易对色谱仪器装置（如液相泵、进样阀、色谱柱等）造成损坏或堵塞，而且会对分析结果造成干扰。因此，在样品上机检测前对样品进行过滤显得尤为重要，并可以有效降低上述问题的发生，提高色谱检测的灵敏度和准确度。
产品用其它仪器分析没有问题，但是核磁谱图太粗糙，无法解析，无法投稿？
知道不能用简单的经济型核磁管，但是特殊核磁管那么多，又都那么贵，怎么选？

