<style>
    p {margin-bottom:0.5em;}
    .title-top-line-right-angle {
        border-top-width: 0.15em;
        border-top-style: solid; 
        padding-top: 0.1rem;
    }
    .title-top-line-right-angle>:first-child {
        line-height: 1.4em; 
        padding: 0.3em 3em 0.3em 0.8em; 
        border-bottom-right-radius: 3em;
    }
</style>

<%
function product(p) {
    let url = p[0];
    let no = p[1];
    let caption = p[2];
    let pack = p[3];
    if (url.length<10) {
        url = 'https://www.jkchemical.com/CH/products/' + url + no + '.html';
    }
%>
<div class="col-sm py-1 py-sm-2 border-bottom border-muted">
<a href="<%=url%>" class="text-decoration-none">
<div class="d-sm-flex"  style="line-height:1.5em; ">
    <div class="w-5c" style="color: tomato; font-weight:600;"><%=no%></div>
    <div class="text-dark">
        <b><%=caption%></b>
        <div><%=pack%></div>
    </div>
</div>
</a>
</div>
<%
}

function products(arr) {
    %> <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-3"> <%
    arr.forEach(element => {
        product(element)
    });
    %> </div> <%
}

function subtitle(text) {
    %>
        <div class="title-top-line-right-angle border-info text-white d-flex clearfix">
            <div class="bg-info border-info py-2 mb-0 pl-2 pr-4 d-flex align-items-center">
                <i class="mr-2 fa fa-circle" style="font-size: 60%;"></i>
                <div><%-text%></div>
            </div>
        </div>
    <%
}

let 有效氯游离碱的测定试剂及耗材 = [
['A10', '991956', '乙酸, 用于分析', '100ML, 500ML, 2.5L'],
['A01', '110350', '硫代硫酸钠五水合物, 99%, ACS级试剂', '250G, 1KG'],
['A10', '914263', '淀粉, 用于分析', '500G'],
['https://www.jkchemical.com/CH/products/search/fulltextsearch/152721.html', '152721', '酚酞, 指示剂', '25G, 100G, 500G'],
['R35', '1477589', '碘化钾淀粉试纸', '100条/盒']
];

let 铁重金属和砷的测定试剂 = [
['A10', '991956', '乙酸, 用于分析', '100ML, 500ML, 2.5L'],
['A10', '961379', '乙酸钠三水合物, 99%, 用于分析', '500G, 2.5KG'],
['A10', '984126', '盐酸羟胺, 98.5%, 用于分析', '100G, 500G'],
['J01', 'C19605', '铁标准溶液', '100ML, 500ML'],
['A01', '337793', '1,10-菲啰啉, 99%', '5G, 25G, 100G'],
['A10', '924972', '硫化钠九水合物, 98%, 用于分析', '500G'],
['https://www.jkchemical.com/CH/products/search/fulltextsearch/WM-NMS-29.html', 'WM-NMS-29', '铅标准溶液', '50ML'],
['A10', '915480', '碘化钾, 99%, 用于分析', '25G, 100G'],
['A01', '969674', '氯化亚锡(II), 97.5%, 无水', '25G, 100G, 500G'],
['J01', 'C19582', '砷标准溶液，1 mg/ml As 2％KOH', '100ML'],
['A10', '947339', '乙酸铅(II)三水合物, 99%, 用于分析', '500G'],
['J01', 'C22261', '锌粒', '100G, 500G'],
];

let 其他配套耗材 = [
['R35', '987528', '304不锈钢药刮, 220mm, 一平一弯', '10支/袋'],
['R35', '2727287', '100×100 mm 称量纸', '500张/盒'],
['R35', '915664', '1.5 mL 透明离心管', '500管/袋'],
['R35', '2063717', '透明玻璃螺口带白色书写签样品瓶, 2 mL, 8 mm', '100个/盒'],
['R35', '940292', '9 mm 蓝色螺口样品瓶瓶盖, PTFE/硅胶隔垫', '100个/包'],
['A10', '958945', '单道手动可调移液器，量程: 100-1000 μL, 最小刻度: 5.0 μL', '1PAK'],
['R35', '672890', '1000 μL 移液器吸头, 蓝色', '1000个/包'],
['A01', '940621', '数显不锈钢加热磁力搅拌器，套包装', '1台'],
['A01', '1482821', '椭圆型聚四氟乙烯磁力搅拌子, A100 (6*10 mm)', '5支/盒'],
['R35', '944099', '圆柱型聚四氟乙烯磁力搅拌子, 带轴环, B200 (8 mm x 20 mm)', '5支/盒'],
];

let 污水水质监测实验所需耗材 = [
['R35', '945285', 'C18 固相萃取小柱，填料1 g, 柱体积6 ml', '30支/盒'],
['R35', '999155', 'Silica 固相萃取小柱，填料1 g,柱体积6 ml', '30支/盒'],
['R35', '2123704', '亲水 PTFE 针头式过滤器, 13 mm, 0.45 µm', '200个/盒'],
['https://www.jkchemical.com/CH/products/search/fulltextsearch/940292.html', '110350', '硫代硫酸钠五水合物, 99%, ACS级试剂', '3250G, 1KG'],
['J01', '37094', '细沙, 40-100目', '250G'],
['R35', '915664', '1.5 mL 透明离心管', '500管/袋'],
['R35', '2063717', '透明玻璃螺口带白色书写签样品瓶, 2 mL, 8 mm', '100个/盒'],
['https://www.jkchemical.com/CH/products/search/fulltextsearch/940292.html', '940292', '9 mm 蓝色螺口样品瓶瓶盖, PTFE/硅胶隔垫', '100个/包'],
['R35', '958945', '单道手动可调移液器，量程: 100-1000 μL, 最小刻度: 5.0 μL', '1PAK'],
['https://www.jkchemical.com/CH/products/search/fulltextsearch/672890.html', '672890', '1000 μL 移液器吸头, 蓝色', '1000个/袋'],
['R35', '1122420', '瓶口分液器，量程: 5.0-50.0 ml, 最小刻度: 1.0 ml', '1PAK'],
['', '958945', '', ''],
];

%>

<h4 class="text-info text-center px-5 my-3 pb-3 border-info" style="border-bottom: dotted 0.15rem;">
    <b>「GB/T19106-2013 次氯酸钠」检测试剂</b>
</h3>

<div class="clearfix mb-3">
<img class="d-block w-100 float-sm-right w-sm-50 w-lg-25 ml-sm-3 mb-3 mb-sm-0 border border-danger rounded" 
    src="https://c.jkchemical.com/res/0-0286.png" />
<p class="">    
  随着新型冠状病毒肺炎疫情发展，全国一心，致力于打赢这场没有硝烟的战役，消灭病毒传播途径成为关键。其中，室内外、物体表面的消毒将用到大量的84消毒液，生产原液中有效成分次氯酸钠的检测以及重金属残余的分析，是消毒液安全生产、使用的保障。
</p>
<p class="">
  百灵威针对国标方法《GBT19106-2013次氯酸钠测定》，提供试剂耗材解决方案，供检测单位及相关部门选用。
</p>
<p class="">
 众志成城，百灵威愿为全国抗“疫”物资生产及安全使用，贡献力量。
</p>
</div>
<% subtitle('有效氯、游离碱的测定试剂及耗材') %>
<% products(有效氯游离碱的测定试剂及耗材); %>

<% subtitle('铁、重金属和砷的测定试剂&emsp;&emsp;&emsp;') %>
<% products(铁重金属和砷的测定试剂); %>

<% subtitle('其他配套耗材&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;') %>
<% products(其他配套耗材); %>

<% subtitle('污水水质监测实验所需耗材&emsp;&emsp;&emsp;') %>
<% products(污水水质监测实验所需耗材); %>
