<script>
    function search(e) {
        e.preventDefault();
        let key = e.target.keyInput.value;
        if (key) {
            // location.href = '/shop?type=productlist&key=' + encodeURIComponent(key);
            location.href = '/search/' + encodeURIComponent(key);
        }
    }
</script>

<!--Only For Desktop-->
<header>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-auto ml-auto d-flex align-items-center float-right">
                    <div class="phone">
                        <img src="<%=$root%>images/icon/Phone.svg" /> 客服热线： 400-666-7788
                    </div>
                    <div class="area">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle py-0 px-1" href="#" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                中国
                            </a>
                        </div>
                    </div>
                    <div id="homeCart" class="cart mr-3 pl-1">
                    </div>
                    <div id="login" class="login" style="font-size: 14px;max-width: 1rem;max-height: 1rem;">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark pad-tb20">
        <div class="container">
            <a href="<%=$root%>" class="header-logo"><img src="<%=$root%>images/logo.svg" alt="logo" class="img-fluid"></a>
            <div class="justify-content-center search-wrap">
                <ul class="top-list justify-content-center">
                    <li><a href="/subjectpost/18">特惠活动</a> </li>
                    <!-- <li><a href="#">结构检索</a> </li> -->
                    <li><a href="/myOrders">订单查询</a></li>
                    <li><a href="/product/mscu/MSDS" target="_blank">SDS</a></li>
                </ul>
                <form class="custom-search-input" onsubmit="search(event)">
                    <div class="input-group col-md-12">
                        <input name="keyInput" type="text" class="search-query form-control" placeholder="Search" />
                        <span class="input-group-btn" style="top:0;">
                            <button class="btn" type="submit">
                                <img src="<%=$root%>images/icon/magnifier.svg" />
                            </button>
                        </span>
                    </div>
                </form>
            </div>

            <a style="display: none;" class="display-mobile-block-shoppingcart shopping-cart" href="#">
                <img src="<%=$root%>images/commerce-and-shopping.svg" width="40px">
            </a>
            <button class="navbar-toggle navbar-toggler navbar-toggler-right collapsed" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="bar1"></span>
                <span class="bar2"></span>
                <span class="bar3"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="<%=$root%>product-catalog" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            产品<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <% for (let i=0; i< rootcategories.length; i++) { let {id, name, children
                                }=rootcategories[i]; %>
                                <a class="dropdown-item text-center" href="<%=$root%>product-catalog/<%=id%>">
                                    <%=name%>
                                </a>
                                <% } %>
                        </div>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            服务<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item text-center" href="/myOrders">订单查询</a>
                            <a class="dropdown-item text-center" href="/pointshop">积分查询</a>
                        </div>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            会员<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item text-center" href="/password">修改密码</a>
                            <a class="dropdown-item text-center" href="/meInfo">账户信息</a>
                            <a class="dropdown-item text-center" href="/contact">地址管理</a>
                            <hr class="my-1" />
                            <a class="dropdown-item text-center" href="/favorites">商品收藏</a>
                            <a class="dropdown-item text-center" href="/pointshop">积分管理</a>
                            <a class="dropdown-item text-center" href="/couponManage">卡券管理</a>
                            <hr class="my-1" />
                            <a class="dropdown-item text-center" href="/myOrders">订单记录</a>
                            <a class="dropdown-item text-center" href="/invoice">发票管理</a>
                        </div>
                    </li>
                    <!--注册登录区域-->
                    <li style=" display: none;" class="nav-item display-desktop">
                        <a class="nav-link header-login" href="#">注册/登录</a>
                    </li>
                    <!--购物车图标-->
                    <li style=" display: none;" class="nav-item display-none">
                        <a class="nav-link shopping-cart" href="/cart">购物车</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation-->
</header>