<!-- /.container -->
<!--Only For Desktop-->
<div class="footer footer-m display-desktop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <img src="<%=$root%>images/icon/footer-logo.svg" class="footer-logo">
                <p>促进科技与工业发展，造福人类</p>
                <img src="<%=$root%>images/qrcode.png" class="w-75 mt-lg-28 qrcode" />
            </div>
            <div class="col-lg-3 col-6">
                <div class="footer-title">百灵威集团</div>
                <ul>
                    <li><a href="/ch/about" target="_blank">公司简介</a></li>
                    <li><a href="/ch/promise" target="_blank">企业承诺</a></li>
                    <li><a href="/ch/recommended-brand" target="_blank">合作品牌</a></li>
                    <li><a href="/job" target="_blank">招贤纳士</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-6">
                <div class="font-weight-bold">浏览</div>
                <ul>
                    <li><a href="/information" target="_blank">资讯中心</a></li>
                    <li><a href="<%=$root%>product/mscu/coa">质量证书(COA)</a></li>
                    <li><a href="<%=$root%>product/mscu/msds">安全说明书(SDS)</a></li>
                    <li><a href="<%=$root%>product-catalog">产品</a></li>
                    <ul class="ml-3">
                        <% for (let i=0; i< rootcategories.length; i++) { let {id, name, children }=rootcategories[i];
                            %>
                            <li><a href="<%=$root%>product-cataglog/<%=id%>">
                                    <%=name%>
                                </a></li>
                            <% } %>
                    </ul>
                    <li><a href="#">危险品购买提示</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-6">
                <div class="footer-title">联系我们</div>
                <div class="contact">
                    电话：400-666-7788<br />+86 10 8284 8833
                </div>
                <div class="contact">
                    传真：<br />+86 10 8284 9933
                </div>
                <div class="contact">
                    电子邮件：<br />
                    <a href="mailto:jkinfo@jkchemical.com">jkinfo@jkchemical.com</a><br />
                    <a href="mailto:jkinfo@jk-sci.com">jkinfo@jk-sci.com</a>
                </div>
                <!-- <div class="footer-social">
                </div> -->

                <!-- <div class="footer-title">联系我们</div>
                <div class="contact ">
                    电话：400-666-7788<span class="ml-lg-42">+86 10 8284 8833</span>
                </div>
                <div class="contact">
                    邮箱：<a href="mailto:jkinfo@jk-sci.com">jkinfo@jk-sci.com</a>
                </div>
                <div class="contact">
                    传真：+86 10 8284 9933
                </div> -->
                <div class="footer-social mt-lg-05">
                    <a href="#" class="wechat" target="blank"></a>
                    <!--for english website<a href="https://www.facebook.com/" target="blank"><img src="images/icon/facebook.svg"></a>
                  <a href="https://www.twitter.com/" target="blank"><img src="images/icon/twitter.svg"></a>
                  <a href="https://www.instagram.com/" target="blank"><img src="images/icon/instagram.svg"></a>
                              <a href="https://www.youtube.com/" target="blank"><img src="images/icon/youtube.svg"></a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom mt-2 py-1">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-5">
                    严禁在未经同意的情况下使用本网站所有信息 | <a>法律声明</a> | <a href="/privacy">隐私政策</a>
                </div>
                <div class="col-sm-7">
                    京公安网备11010502027473 | <a href="https://beian.miit.gov.cn" target="_blank">京ICP备09071033号-3</a>&nbsp;
                    | <a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120328090456140"
                        target="_blank">上海工商</a>&nbsp;
                    | <a target="_blank">危险化学品经营许可证</a> | <a target="_blank"> 营业执照(三证合一)</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer-bottom">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm">© 2020 - Copyright <a href="#">J&K Scientific Ltd., All Rights Reserved</a>
                </div>

            </div>
        </div>
    </div> -->
</div>

<!--Only For Desktop End-->
<!--
<div class="mobile-footer-wrap display-mobile">
    <a href="#" class="menu">
        <img src="<%=$root%>images/icon/home.svg">
        <h3>首页</h3>
    </a>
    <a href="#" class="menu">
        <img src="<%=$root%>images/icon/product.svg">
        <h3>产品</h3>
    </a>
    <a href="#" class="menu">
        <img src="<%=$root%>images/icon/service.svg">
        <h3>服务</h3>
    </a>
    <a href="#" class="menu">
        <img src="<%=$root%>images/icon/my.svg">
        <h3>我的</h3>
    </a>
   </div> -->


<!-- Bootstrap core JavaScript -->
<script>
    $(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            });
    });

</script>
</body>

<script src="https://kit.fontawesome.com/a91a27e46f.js" crossorigin="anonymous"></script>
<script src="<%=shopJsPath.runtime%>"></script>
<script src="<%=shopJsPath.module%>"></script>
<script src="<%=shopJsPath.module2%>"></script>
<script src="<%=shopJsPath.module3%>"></script>
<script src="<%=shopJsPath.main%>"></script>
</body>

</html>