<!-- /.container -->
<!--Only For Desktop-->
<div class="footer footer-m display-desktop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <img src="<%=$root%>img/icon/footer-logo.svg">
                <p>促进科技与工业发展，造福人类</p>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="footer-title">百灵威集团</div>
                <ul>
                    <li><a href="https://www.jkchemical.com/Company-inf.aspx?language=ch">公司简介</a></li>
                    <li><a href="https://www.jkchemical.com/brand.aspx?language=ch">合作品牌</a></li>
                    <li><a href="https://www.jkchemical.com/job.aspx?language=ch">招贤纳士</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="footer-title">专业服务</div>
                <ul>
                    <li><a href="https://shop.jkchemical.com/">百灵威商城</a></li>
                    <li><a href="<%=$root%>information">资讯中心</a></li>
                    <li><a>质量证书(COA)</a></li>
                    <li><a>安全说明书(SDS)</a></li>
                    <li><a>项目合作与定制生产</a></li>
                    <li><a>订购指南</a></li>
                    <li><a>引用领域</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="footer-title">联系我们</div>
                <div class="contact ">
                    电话：400-666-7788<span class="ml-lg-42">+86 10 8284 8833</span>
                </div>
                <div class="contact">
                    邮箱：<a href="mailto:jkinfo@jk-sci.com">jkinfo@jk-sci.com</a>
                </div>
                <div class="contact">
                    传真：+86 10 8284 9933
                </div>
                <div class="footer-social mt-lg-05">
                    <a href="#" class="wechat" target="blank"></a>
                    <!--for english website<a href="https://www.facebook.com/" target="blank"><img src="img/icon/facebook.svg"></a>
                  <a href="https://www.twitter.com/" target="blank"><img src="img/icon/twitter.svg"></a>
                  <a href="https://www.instagram.com/" target="blank"><img src="img/icon/instagram.svg"></a>
                              <a href="https://www.youtube.com/" target="blank"><img src="img/icon/youtube.svg"></a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm">© 2020 - Copyright <a href="#">J&K Scientific Ltd., All Rights Reserved</a>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Only For Desktop End-->
<!--
<div class="mobile-footer-wrap display-mobile">
    <a href="#" class="menu">
        <img src="<%=$root%>img/icon/home.svg">
        <h3>首页</h3>
    </a>
    <a href="#" class="menu">
        <img src="<%=$root%>img/icon/product.svg">
        <h3>产品</h3>
    </a>
    <a href="#" class="menu">
        <img src="<%=$root%>img/icon/service.svg">
        <h3>服务</h3>
    </a>
    <a href="#" class="menu">
        <img src="<%=$root%>img/icon/my.svg">
        <h3>我的</h3>
    </a>
   </div> -->


<!-- Bootstrap core JavaScript -->
<script>
    $(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");
            });
    });

</script>
</body>

<script src="<%=shopJsPath.runtime%>"></script>
<script src="<%=shopJsPath.module%>"></script>
<script src="<%=shopJsPath.module2%>"></script>
<script src="<%=shopJsPath.module3%>"></script>
<script src="<%=shopJsPath.main%>"></script>
</body>

</html>