<footer class=" py-2 mt-3 text-center bg-light" style="border-top: 0.1rem lightgray solid;">
    <div class="container">
        <div class="d-none d-sm-block">
            <div class="wrap d-flex"
                style="justify-content: space-evenly; margin: 0 auto; padding: 10px 0; box-sizing: border-box;">
                <dl class="text-left mb-0">
                    <dt class="text-dark-blue small" style="font-weight: 550; color: #909090; font-size: 15px;">公司
                    </dt>
                    <dd class="text-muted small">
                        <div class="my-1">
                            <a href="<%=$root%>webMap" target="blank" class="text-muted"><small
                                    style="color: #5d5d5d; font-size: 12px;">网站地图</small></a>
                        </div>
                        <div class="my-1">
                            <a href="<%=$root%>contact" target="blank" class="text-muted">
                                <small style="color: #5d5d5d; font-size: 12px;">联系我们</small>
                            </a>
                        </div>
                    </dd>
                </dl>
                <div class="line" style="width: 2px; height: 70px; background-color: #777777; margin-top: 5px;">
                </div>
                <dl class="text-left mb-0">
                    <dt class="text-dark-blue small" style="font-weight: 550; color: #909090; font-size: 15px;">导航链接
                    </dt>
                    <dd class="text-muted small">
                        <div class="my-1">
                            <a href="<%=$root%>productName" target="blank" class="text-muted">
                                <small style="color: #5d5d5d; font-size: 12px;">产品名称索引</small>
                            </a>
                        </div>
                        <div>
                            <a href="<%=$root%>cas" target="blank" class="text-muted">
                                <small style="color: #5d5d5d; font-size: 12px;">CAS索引</small>
                            </a>
                        </div>
                    </dd>
                </dl>
                <div class="line" style="width: 2px; height: 70px; background-color: #777777; margin-top: 5px;"></div>
                <dl class="text-left mb-0">
                    <dt class="text-dark-blue small" style="font-weight: 550; color: #909090; font-size: 15px;">服务&支持
                    </dt>
                    <dd class="text-muted small">
                        <div class="my-1">
                            <a href="<%=$root%>law" target="blank" class="text-muted">
                                <small style="color: #5d5d5d; font-size: 12px;">法律声明</small>
                            </a>
                        </div>
                        <div class="my-1">
                            <a href="<%=$root%>technicalSupport" target="blank" class="text-muted">
                                <small style="color: #5d5d5d; font-size: 12px;">技术支持</small>
                            </a>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="text-muted small ">©Copyright J&K Scientific Ltd., All Rights Reserved.保留所有权利。
                <a href="http://www.beian.miit.gov.cn/" target="blank" class="text-muted">京ICP备09071033号-3</a>
                京公网安备11010502027473
            </div>
        </div>
        <div class="d-sm-none">
            <span class="fa-stack fa text-primary">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
            </span>
            &nbsp;
            <span class="text-muted small">订购/客服: </span><b>400-666-7788</b>
        </div>
    </div>
</footer>

<script src="<%=shopJsPath.runtime%>"></script>
<script src="<%=shopJsPath.module%>"></script>
<script src="<%=shopJsPath.main%>"></script>
</body>

</html>