<div class="row product-introduct">
    <% for(var j=0; j<postproduct.length; j++){
        const imagePath = 'https://www.jkchemical.com/static/Structure/';
        const altimagePath = "https://www.jkchemical.com/static/Structure/999.png";
        const productPath ="https://shop.jkchemical.com/?type=product&product=";

        let {id, NO, brand ,brandname,origin, description, descriptionc, imageurl, cas} = postproduct[j];
        let imageSrc =  imageurl? 
                        imagePath + imageurl.substr(0,3) + '/' + imageurl + '.png'
                        : 
                        altimagePath;
        let productPaths = productPath + id;
    %>
    <div class="col-lg-3">
        <div class="img-wrap">
            <a href="<%=productPaths%>"><img src="<%=imageSrc%>"></a>
        </div>
    </div>
    <div class="col-lg-9 each-product">
        <h3>
            <a href="<%=productPaths%>">
                <%=description%>
                <br>
                <%=descriptionc%>
            </a>
        </h3>
        <p>产品编号： <%=origin%> | CAS： <%=cas%> | 品牌： <%=brandname%> </p>
    </div>
    <div class="col-lg-12 mt-lg-2">
    </div>
    <% } %>
</div>
</div>
</div>