<div class="side-block display-desktop">
    <h3 class="side-block-title">栏目</h3>
    <ul class="categories-list">
        <%
        let spn = 0;
        for (let pn of subject) {
            spn++;
            if (spn > 10) break;
            let {id,name} = pn;
        %>
        <li><a href="<%=$root%>subjectpost/<%=id%>"><%=name%></a></li>
        <% } %>
        <li><a href="<%=$root%>information">全部</a></li>
    </ul>
</div>
<div class="side-block">
    <%
      if(discounts.length>0){
    %>
    <h3 class="side-block-title">促销活动</h3>
    <% } %>
    <%
    let dpn = 0;
    for (let pn of discounts) {
        dpn++;
        if (dpn > 5) break;
        let {id, caption, image} = pn;
    %>
    <div class="img-wrap img-promo">
        <a href="<%=path+id%>"><img src="<%=image%>"></a>
    </div>
    <p><a href="<%=path+id%>"><%=caption%></a></p>
    <% } %>
</div>
<div class="side-block">
    <h3 class="side-block-title">最受欢迎</h3>
    <%
    let hpn = 0;
    for (let pn of hotPosts) {
        hpn++;
        if (hpn >5) break;
        let {post, caption,subject,image} = pn;
    %>
    <div class="overflow">
        <div class="post-preview p-flot mt-lg-1">
            <h4 class="post-title"><a href="#"><%=subject%></a></h4> |
            <p><a href="<%=path+post%>"><%=caption%></a></p>
        </div>
    </div>
    <hr class="mobile-divider">
    <% } %>
</div>

<div class="side-block">
    <%
      if(correlation.length>0){
    %>
    <h3 class="side-block-title">相关贴文</h3>
    <% } %>
    <%
    let cpn = 0;
    for (let pn of correlation) {
        cpn++;
        if (cpn >5) break;
        let {id, caption,subject,image} = pn;
    %>
    <div class="overflow">
        <div class="post-preview p-flot mt-lg-1">
            <h4 class="post-title"><a href="#"><%=subject%></a></h4> |
            <p><a href="<%=path+id%>"><%=caption%></a></p>
        </div>
    </div>
    <hr class="mobile-divider">
    <% } %>
</div>